:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
  --white-color: hsl(0, 0%, 100%);
  --mobile-width: 375px;
  --desktop-width: 1440px;
  --default-font-size: 18px;
}

html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Outfit", sans-serif;
  background: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;

  p {
    font-size: var(--default-font-size);
  }
}

div.card {
  background: var(--card-bg);
  color: var(--white-color);
  width: var(--mobile-width);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px / 6px;
  padding: 1.5rem;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px / 6px;

  img {
    width: 100%;
    border-radius: 10px / 6px;
    cursor: pointer;
    opacity: 1;
  }

  &::after {
    content: url("images/icon-view.svg");
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:hover {
    background-color: var(--cyan);
    img {
      opacity: 0.5;
    }

    &::after {
      opacity: 1;
    }
  }
}

.card__content {
  h1 {
    color: var(--white-color);

    &:hover {
      color: var(--cyan);
      cursor: pointer;
    }
  }

  p {
    color: var(--soft-blue);
  }
}

.card__purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--line-color);

  div.card__purchase__price {
    color: var(--cyan);

    &::before {
      content: url("images/icon-ethereum.svg");
      margin-right: 0.5rem;
      color: var(--cyan);
      position: relative;
      top: 3px;
    }
  }

  div.card__purchase__delay {
    color: var(--soft-blue);

    &::before {
      content: url("images/icon-clock.svg");
      margin-right: 0.5rem;
      color: var(--cyan);
      position: relative;
      top: 3px;
    }
  }
}

.card__content__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
    margin-right: 1rem;
  }

  p {
    color: var(--soft-blue);

    a {
      color: var(--white-color);
      text-decoration: none;

      &:hover {
        color: var(--cyan);
        cursor: pointer;
      }
    }
  }
}
